# Node.js and npm
node_modules/
npm-debug.log
*.log

# Turborepo
.turbo/
.next/
turbo.log

# Build outputs
dist/
build/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor and OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Miscellaneous
*.bak
*.tmp

*node_modules*

logs/

# nextjs build files.
.next/
services/plugins.tensorify.io/.next

# all */generated/client/** files removed
generated/client/
**/generated/client/**