# The containers that compose the project
services:
  db:
    image: postgres:16-alpine
    restart: always
    container_name: integration-tests
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
      POSTGRES_DB: app_test